ul
{
    background: rgb(185, 247, 210); 
    margin: 12px 12px 12px 12px;
    padding: 7px 7px 7px 7px;
    position: relative;
    top: 10;
    right: 10;
}
li
{
    border-style: ridge;
    border-width: thin;
    display: inline;
}