/* Emily Lempka, ISLT 7310, Spring 2022 */

nav ul 
{
    display: flex;
    justify-content: center;
}

nav ul li
{
    border-style: groove;
    border-width: medium;
    border-color: #CC99CC;
    background: rgb(255, 255, 255); 
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    display: block;
    text-align: center;
    font-size: x-large;
}

nav ul li:hover
{
    background: #e8fbfd; 
}

.dropdown
{
    position: relative;
    display: block;   
}

.dropdown-content
{
    display: none;
    position: absolute;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.dropdown-content li 
{
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
}

.dropdown:hover .dropdown-content 
{
    background: #CC99CC; 
    display: block;
    margin: 0px;
    padding: 0px;
}

#hamburger label 
{ 
    display: none; 
}

#ham
{
    display: none;
}

@media screen and (max-width: 768px)
{ 
    #hamburgerItems
    {
        display: flex;
    }

    #hamburger label
    {
      display: inline-block;
      background: #33004D;
      color: #f8bff8;
      padding: 8px;
      font-size:x-large;
    }

    #hamburgerItems 
    {
        display: none; 
    }
    #hamburger input:checked ~ #hamburgerItems 
    { 
        display: block; 
    }
  }
