/* Emily Lempka, ISLT 7310, Spring 2022 */

@font-face 
{ 
    font-family: CustomFont;
    src: url("Berolina.ttf");  
}

h1 {color:#660066;}

p.content::first-letter 
{
    color: #660066;
    font-family: CustomFont;
    font-size: x-large;
}


body
{
    background-color: #f8bff8;
    color:  #33004D;
}

header
{
    text-align: center;
    background-color: white;
    padding: 5px;
    font-family: CustomFont;
    font-size: x-large;
}

main
{
    background-color: white;
    padding: 5px;
}

p
{
    background-color: white;
    padding: 5px;
    font-size: large;
    font-family: Arial;
}

a
{
    color: #a248fc;
    font-size: large;
}


@media screen and (max-width: 768px)
{ 
    p 
    {
        font-size: x-large;
    }
    p.content::first-letter 
    {
        font-size: xx-large;
    }
    a
    {
        font-size: x-large;
    }

}

.headshot
{
    margin: 5px 5px 5px 5px;
}

footer
{
    background-image: url("snail.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: right;
    height: 220px;
}

.hoverImage:hover {
    position: relative;
    width: 2%;
    height: 2%;
    display: inline-block;
}

@media print 
{ 

    body
    {
        color: black;
        margin: 1in;
    }
    p, a, p.content::first-letter 
    {
        color: black;
        font-family: serif;
    }

    h1
    {
        color: black;
    }

    /* All your print styles go here */
    head, nav, img
    { 
        display: none; 
    } 
}